<div class="container">
  <ng-container *ngIf="userFormGroup">
    <ng-container *ngIf="state as data">
      <ng-container *ngIf="data.dataState==UsersStateEnum.LOADING">
        Loading...
      </ng-container>
      <ng-container *ngIf="data.dataState==UsersStateEnum.LOADED">
        <div class="alert-success container p-3 m-3">
          <span>User Saved Successfully</span>
          <button class="btn btn-success ml-3" (click)="newUser()">New User</button>
        </div>
      </ng-container>
      <ng-container *ngIf="data.dataState==UsersStateEnum.NEW">
        <form [formGroup]="userFormGroup" (ngSubmit)="onSaveUser()">
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" formControlName="surname" id="surname"
                   [ngClass]="{'is-invalid':submitted && userFormGroup.controls.surname.errors}">
            <div *ngIf="submitted && userFormGroup.controls.surname.errors" class="invalid-feedback">
              <div *ngIf="userFormGroup.controls.surname.errors.required">Surname is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="forename">Forename</label>
            <input type="text" class="form-control" formControlName="forename" id="forename"
                   [ngClass]="{'is-invalid':submitted && userFormGroup.controls.forename.errors}">
            <div *ngIf="submitted && userFormGroup.controls.forename.errors" class="invalid-feedback">
              <div *ngIf="userFormGroup.controls.forename.errors.required">Forename is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="mail">Mail</label>
            <input type="email" class="form-control" formControlName="mail" id="mail"
                   [ngClass]="{'is-invalid':submitted && userFormGroup.controls.mail.errors}">
            <div *ngIf="submitted && userFormGroup.controls.mail.errors" class="invalid-feedback">
              <div *ngIf="userFormGroup.controls.mail.errors.required">Mail is required</div>
            </div>
          </div>
          <button type=button  (click)="onSaveUser()" class="btn btn-success">Save</button>
        </form>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
