<app-users-nav-bar></app-users-nav-bar>
<ng-container *ngIf="usersState$ | async as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="UsersStateEnum.INITIAL">
    <div class="p-2"> Initial State </div>
  </ng-container>
  <ng-container *ngSwitchCase="UsersStateEnum.LOADING">
    <div class="p-2"> Loading.... </div>
  </ng-container>
  <ng-container *ngSwitchCase="UsersStateEnum.ERROR">
    <div class="p-2"> {{state.errorMessage | json}} </div>
  </ng-container>
  <ng-container *ngSwitchCase="UsersStateEnum.LOADED">
    <app-users-list [state]="state"></app-users-list>
  </ng-container>
</ng-container>
