<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="onGetAllUsers()" class="btn btn-sm btn-outline-info ml-2">All</button>
    </li>
    <li>
      <button (click)="onNewUser()"    class="btn btn-sm btn-outline-info ml-2">New</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input ngModel name="keyword"  type="text">
        <button class="btn btn-sm btn-outline-info ml-2">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>
<div class="container">
  <ng-container *ngIf="(users$ | async) as result" [ngSwitch]="result.dataState" >
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading .....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">
        {{result.errorMessage}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <tr>
          <th>ID</th><th>Forename</th><th>Surname</th><th>Mail</th>
        </tr>
        <tr *ngFor="let p of result.data">
          <td>{{p.id}}</td>
          <td>{{p.forename}}</td>
          <td>{{p.surname}}</td>
          <td>{{p.mail}}</td>
          <td>
            <button class="btn btn-danger" (click)="onDelete(p)">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-info" (click)="onEdit(p)">
              <span class="fa fa-edit"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-info" (click)="onCart(p)">
              <span class="fa fa-shopping-cart"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-info" (click)="onShopping(p)">
              <span class="fa fa-buysellads"></span>
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</div>
